<!DOCTYPE HTML>
<html>
  <head>
    <!-- META INFO -->
    <meta charset="utf-8"><!-- Set encoding -->
    <html lang="en"><!-- Set language -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Make page show correctly on mobile -->
    <title>Noah Huppert</title><!-- Set page title -->
    <meta name="description" content="NoahHuppert.com Site Description"><!-- Set page description -->
    <meta name="robots" content="index, follow"><!-- Tell search engines to completely index page -->

    <!-- Javascript -->
    <script src="<%= yield(@site[:url]) + yield(@site[:bower_path]) %>"></script>
  </head>

  <body unresolved touch-action="auto">
    <%= yield %>
  </body>
</html>
